

<footer>
 <!------ cuerpo del footer contiene tres columnas (grupo 1 2 3 )--------->
 <div class="bodyfooter">
                         
    <div class="group1">
          
      <h3><b> Compañía </b></h3><br>
                                                                                                       
      <ul>
        <!-- se crearon enlaces group 1 que rediccionaran a paginas  de informacion -->
        <li> <a href="/views/partials/historia" class= " his" target="_blank"> Nuestra historia </a></li>  <br> 
        <li> <a href="#" class= " his" target="_blank">  Sucursales</a></li>  <br>
        <li> <a href="#" class= " his" target="_blank">  Nuestras Marcas</a></li>  <br>

      </ul>
            
    </div>
            
    <div class="group2">
                       
      <h3><b> Servicio al Cliente</b></h3><br>
                      
        <ul>   <!-- se crearon enlaces group 2 que rediccionaran a paginas de informacion -->
                                
         <li> <a href="#" class= "poli"  target="_blank"> Políticas de privacidad </a></li> <br>
         <li> <a href="#" class= " term" target="_blank"> Términos y condiciones </a> </li> <br>
         <!--  se deben crear paginas para los enlaces -->
       </ul>
    </div>
          
          
    <div class="group3">
      <h3> Preguntas Frecuentes </h3><br>
      <ul>
        <li> <a href="#" class= "poli"  target="_blank"> Envíos </a></li> <br>
        <li> <a href="#" class= " term" target="_blank"> Medios de pago  </a> </li> <br>
      
     </ul>
          
    </div>        
 </div>
          
          
 <!-- redes sociales: se creo enlace social,  rediccionaran al contenido-->
                              
                              
 <div class="social"> <!--se debe crear red social -->
          
   <a href=" https://facebook.com"  target= " _BLANK" > <i class="fa-brands fa-facebook"></i> </a>
   <a href=" https://facebook.com"  target = " _BLANK" > <i class="fa-brands fa-square-instagram"></i> </a>
   <a href=" https://facebook.com"  target = " _BLANK" > <i class="fa-brands fa-youtube"></i> </a>

 </div>
               
   <!-- etiqueta news: se creo imput de email y se agrego boton se puede agregar una alerta -->
                     
 <div class="news" >
   <h3> ¡Recibí todos nuestros descuentos! </h3> 
   <p> Enterate de las ultimas novedades y promociones </p>
                           
   <form>
      <input type="email" placeholder = " Ingresa tu Email "> 
                     
        <button> 
           <i class="fa-regular fa-paper-plane"></i> 
        </button>
    </form>      
 </div>
                  
                  
             
  <div class="copy-right"> 
                    
   <small>  Copyright © 2022  <b>  Prunelle Parfum S.R.L. </b> Todos los derechos Reservados </small> 
                     
  </div>
          
</footer>