<header>
 <div class="wrapper">
   <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
        <div class="logo"><a href="#">Prunelle</a></div>
          <ul class="links">
            <li>
              <a href="#"style="font: size 20px;px;color:#D4AF37">Home</a></li>
            <li>
              <a href="#" class="desktop-link">Marcas</a>
              <input type="checkbox" id="show-features">
              <label for="show-features">Marcas</label>
              <ul>
                <li><a href="#">Armani</a></li>
                <li><a href="#">Lancome</a></li>
                <li><a href="#">YSL</a></li>
                <li><a href="#">POLO</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="desktop-link">Fragancias</a>
              <input type="checkbox" id="show-services">
              <label for="show-services">Fragancias</label>
              <ul>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Unisex</a></li>
                <li>
                 <li><a href="#">Niños</a></li>
                <li> 
                 <li><a href="#">Sets</a></li>
                <li>
                  <li><a href="#">Ediciones limitadas</a></li>
                <li>
                  <a href="#" class="desktop-link">More Items</a>
                  <input type="checkbox" id="show-items">
                  <label for="show-items">More Items</label>
                  <ul>
                    <li><a href="#">Sub Menu 1</a></li>
                    <li><a href="#">Sub Menu 2</a></li>
                    <li><a href="#">Sub Menu 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">SALE</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
          <input type="text" placeholder="Busca tu perfume favorito..." required>
          <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button> <!--lupa de buscar-->
        </form>
       
        <div>
<<<<<<< HEAD
           <a class="login" href="/users/login" target ="_blank" >Ingresar</a>
=======
          <a href="/register"> <i class="fa-solid-fa-user" style="font: size 20px;color:white "></i>Registro</a>
            
          <a href="views/users/login"><i class="fa-solid fa-right-to-bracket" style="font: size 20px; color:white"></i>Login</a> 
        </div>
             
>>>>>>> 9d5d5e98625d88fc38cbdf13c108552915fe06ef
  </nav>
    </div>
    <li>
      </header>
  