<!DOCTYPE html>
<html >

  <%- include('./partials/head') %>
  
  <body>    
    <%- include("./partials/header") %>

 <!--Contenido de la página--->
     <div class="main">
       <section>

  <h1>LANZAMIENTOS DEL MES</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.71535.jpg"></div>
        
        <div class="card_content">
          <h2 class="card_title">Giorgio Armani Passione</h2>
          <p class="card_text">Acordes Principales: afrutados
        rosas
        almizclado
        florales
        cítrico
        especiado
        suave
        avainillado
        fresco
        especiado
        aromático</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.39459.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Michael Kors Wonderlast</h2>
          <p class="card_text">Acordes Principales: almendrado
atalcado
florales
amaderado
avainillado
floral blanco
cálido especiado
ámbar
nueces
cítrico</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.11126.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Donna Karan Be Delicious</h2>
          <p class="card_text">Acordes Principales: verde
afrutados
acuático
ozónico
fresco
cítrico
floral blanco
florales
fresco especiado
amaderado</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.75022.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Nina Fleur Nina Ricci</h2>
          <p class="card_text">Acordes Principales: cítrico
floral blanco
fresco
afrutados
verde
almizclado
dulce
jabonoso
aromático</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.62036.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">My Way Giorgio Armani</h2>
          <p class="card_text">Acordes Principales: cítrico
floral blanco
fresco
afrutados
verde
almizclado
dulce
jabonoso
aromático</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.64718.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Y Le Yves Saint Laurent</h2>
          <p class="card_text">Acordes Principales: aromático
fresco especiado
cálido especiado
fresco
herbal
ámbar
amaderado
aldehídico
lavanda
cítrico</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
  </ul>
 </div>
  <h3 class="made_by">Made with ♡</h3> 
  </body>

          
          
</body>
    
  <!-- inicio footer-->
 
  <footer> 
    <%- include("./partials/footer") %>
   </footer>
  <!-- fin footer -->
 
</html>

