<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel = "stylesheet" href="css/style.css">
  <title>Perfumeria</title>
</head>

  <!--INICIO  HTML DEL HEADER DE 13 A 71 / INICIO CSS HEADER 1 A 266--->
  <header>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#">Prunelle</a></div>
        <ul class="links">
          <li>
            <a href="#"style="font: size 20px;px;color:#D4AF37">Home</a></li>
          <li>
            <a href="#" class="desktop-link">Marcas</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Marcas</label>
            <ul>
              <li><a href="#">Armani</a></li>
              <li><a href="#">Lancome</a></li>
              <li><a href="#">YSL</a></li>
              <li><a href="#">POLO</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Fragancias</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Fragancias</label>
            <ul>
              <li><a href="#">Mujer</a></li>
              <li><a href="#">Hombre</a></li>
              <li><a href="#">Unisex</a></li>
              <li>
               <li><a href="#">Niños</a></li>
              <li> 
               <li><a href="#">Sets</a></li>
              <li>
                <li><a href="#">Ediciones limitadas</a></li>
              <li>
                <a href="#" class="desktop-link">More Items</a>
                <input type="checkbox" id="show-items">
                <label for="show-items">More Items</label>
                <ul>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">SALE</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Busca tu perfume favorito..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button> <!--lupa de buscar-->
      </form>
      <div>
        <a href="/register"> <i class="fa-solid-fa-user" style="font: size 20px;color:white"></i></a>
          
        <a href="/login"><i class="fa-solid fa-right-to-bracket" style="font: size 20px;color:white">LOGIN</i></a> 
      </div>
           
</nav>
  </div>
  <li>
    </header>
   <!--FIN del HTML DEL HEADER DE 13 A 71 / INICIO CSS HEADER  A --->
   <!--INICIO  HTML DEL BODY DE 74 A  / INICIO CSS FOOTER  A --->
 <body>
     <div class="main">
       <section>
  <h1>LANZAMIENTOS DEL MES</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.71535.jpg"></div>
        
        <div class="card_content">
          <h2 class="card_title">Giorgio Armani Passione</h2>
          <p class="card_text">Acordes Principales: afrutados
        rosas
        almizclado
        florales
        cítrico
        especiado
        suave
        avainillado
        fresco
        especiado
        aromático</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.39459.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Michael Kors Wonderlast</h2>
          <p class="card_text">Acordes Principales: almendrado
atalcado
florales
amaderado
avainillado
floral blanco
cálido especiado
ámbar
nueces
cítrico</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.11126.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Donna Karan Be Delicious</h2>
          <p class="card_text">Acordes Principales: verde
afrutados
acuático
ozónico
fresco
cítrico
floral blanco
florales
fresco especiado
amaderado</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.75022.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Nina Fleur Nina Ricci</h2>
          <p class="card_text">Acordes Principales: cítrico
floral blanco
fresco
afrutados
verde
almizclado
dulce
jabonoso
aromático</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.62036.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">My Way Giorgio Armani</h2>
          <p class="card_text">Acordes Principales: cítrico
floral blanco
fresco
afrutados
verde
almizclado
dulce
jabonoso
aromático</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://fraguru.com/mdimg/perfume/375x500.64718.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Y Le Yves Saint Laurent</h2>
          <p class="card_text">Acordes Principales: aromático
fresco especiado
cálido especiado
fresco
herbal
ámbar
amaderado
aldehídico
lavanda
cítrico</p>
          <button class="btn card_btn">Añadir al carrito &hearts;</button>
        </div>
      </div>
    </li>
  </ul>
</div>
  <h3 class="made_by">Made with ♡</h3> 
  </body>
<!--FINAL HTML  DEL BODY DE 74 A 195 / FIN  CSS DEL BODY 268 A 387--->
  
   <!--INICIO  HTML DEL FOOTER DE 204 A 309 / INICIO CSS FOOTER 391 A 387--->

<!------Endrina Perez  
            inicie creacion de  footer  04/11/22   --------->

            <footer>
    

                <!------ cuerpo del footer
                   contiene tres columnas (grupo 1 2 3)--------->
                <div class="bodyfooter">
                       
                        <div class="group1">
          
                               <h2><b> Sobre Nosotros</b></h2><br>
                                                                                                       
                                  <ul>
                                            <!-- se crearon enlaces group 1 que rediccionaran a paginas
                                                 de informacion -->
                                    <li> <a href="#" class= " his" target="_blank">
                                                        Nuestra historia  </a></li>                                  
                                            <!--  se deben crear paginas par  los enlaces -->
                                    
                                  </ul>
            
                         </div>
            
                      <div class="group2">
                       
                       <h2><b> Servicio al Cliente</b></h2><br>
                      
                       <ul>
                                        
                                             <!-- se crearon enlaces group 2 que rediccionaran a paginas
                                                 de informacion -->
                                
                                 <li> <a href="#" class= "poli"  target="_blank"> 
                                         Políticas de privacidad </a></li> <br>
                                  
                                 <li> <a href="#" class= " term" target="_blank"> 
                                        Términos y condiciones </a> </li> <br>
                                             <!--  se deben crear paginas para los enlaces -->
                          
            
                       </ul>
            
                      </div>
          
          
                        <div class="group3">
            
            
                            <h2> Contáctenos </h2><br>
                                <p>  Lunes a Viernes <br> de 8:00 a 00:00 hs </p>
          
                                <ul>
            
                                   <li>  4528-8990 </li>
                                   <li>  4528-9089 </li>
            
                                </ul>
          
                        </div>
                   </div>
          
          
                                         <!-- redes sociales: se creo enlace social,  rediccionaran al contenido-->
                              
                              
                               <div class="social">
          
                                         <!--se debe crear red social -->
          
                                  <a href=" https://facebook.com"  target= " _BLANK"  > <i class="fa-brands fa-facebook"></i> </a>
                                  <a href=" https://facebook.com"  target = " _BLANK"  > <i class="fa-brands fa-square-instagram"></i> </a>
                                  <a href=" https://facebook.com"  target = " _BLANK"  > <i class="fa-brands fa-youtube"></i> </a>
                
                      
                               </div>
                  
                       
            
               
                                      <!-- etiqueta news: se creo imput de email y se agrego boton
                                                           se puede agregar una alerta -->
                     
                    <div class="news" >
                        <h3> ¡Recibí todos nuestros descuentos! </h3> 
                            <p> Enterate de las ultimas novedades y promociones </p>
                           
                           
                            <form>
                              <input type="email" placeholder = " Ingresa tu Email "> 
                     
                                <button> 
                                    <i class="fa-regular fa-paper-plane"></i> 
                                </button>
                            </form>      
                  
                      </div>
                  
                  
             
                        <div class="copy-right"> 
                    
                              <small>  Copyright © 2022  <b>  Prunelle Parfum S.R.L. </b> Todos los derechos Reservados </small> 
                     
                        </div>
          
          
              </footer>
          
          
          
          
           </b>
          </html>
           
</body>

</html>

