<form action="/login.html" method="post">

<label for = "user"> Name:
</label> 

<input type="text" name="user">




<label for = "Password"> Password : 
</label> 

<input type= "Password" name ="Password">

<button type="submit"> send

</button>


<br>
<br>
<br>
<br>

<label for = "radio" >  credit card

</label>
<input type= "radio" name = "payment" value = "credit card" >

<label for = "radio" >  debit card

</label>
<input type= "radio" name = "payment" value = "debit card" >

<label for = "radio" >  cash

</label>

<br>

<input type= "checkbox" name = "ship" value = "ship express" >

<label for = "checkbox" >  ship express

</label>
<input type= "checkbox" name = "ship" value = "ship normal" >

<label for = "checkbox" >  ship normal



</form> 



