<!DOCTYPE html>
<html >

  <%- include('partials/head') %>
  
  <body>    
    <%- include("partials/header") %>

 <!--inicio login-->
<body>
 <main> 
  <div class="login-box">
  <h2>Acceso</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Usuario</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Contraseña</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Ingresar
    </a>
  </form>
 </div>
</main> 
 <!--fin login-->
  
</body>
    
<!-- inicio footer-->

<footer> 
  <%- include("partials/footer") %>
 </footer>
<!-- fin footer -->

</html>