<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    
    <!-- inicio footer-->
    
    <footer><%- include("partials/footer") %></footer>
    <!-- fin footer -->
  </body>
</html>
