<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <%- include('../partials/header') %>
<body>
  <%- include('../partials/footer') %>
</body>
  
  <!-- inicio footer-->
 
  <footer> 
    <%- include("partials/footer") %>
   </footer>
  <!-- fin footer -->
  
</html>