<!DOCTYPE html>
<html >

  <%- include('../partials/head') %>
  
  <body>    
    <%- include("../partials/header") %>

    <h1> aqui van los envios </h1>

</body>
    
<!-- inicio footer-->

<footer> 
  <%- include("../partials/footer") %>
 </footer>
<!-- fin footer -->

</html>
